<!DOCTYPE html>
<html lang="vi" data-theme="emerald">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="<%= WEBSITE_URL %>/images/dev.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= __('og_title') %></title>

	<meta name="google" content="notranslate" />
	<link rel="shorcut icon" href="<%= WEBSITE_URL %>/images/dev.png">
	<link rel="alternate" hreflang="x-default" href="<%= WEBSITE_URL %>">
	<link rel="alternate" hreflang="vi" href="<%= WEBSITE_URL %>/vi">
	<link rel="alternate" hreflang="en" href="<%= WEBSITE_URL %>/en">

	<meta name="description" content="<%= __('meta_description') %>">
	<meta name="keywords" content="<%= __('meta_keywords') %>">
	<meta name="robots" content="index, follow">

	<meta property="og:title" content="<%= __('og_title') %>">
	<meta property="og:description" content="<%= __('meta_description') %>">
	<meta property="og:image" content="<%= WEBSITE_URL %>/images/banner.png">
	<meta property="og:url" content="<%= WEBSITE_URL %>">
	<meta property="og:type" content="website">

	<meta name="twitter:title" content="<%= __('og_title') %>">
	<meta name="twitter:description" content="<%= __('meta_description') %>">
	<meta name="twitter:image" content="<%= WEBSITE_URL %>/images/banner.png">
	<meta name="twitter:card" content="<%= WEBSITE_URL %>/images/banner.png">
	<link rel="canonical" href="<%= canonical%>">
	<link rel="apple-touch-icon" href="<%= WEBSITE_URL %>/images/dev.png">

	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"name": "<%= __('title') %>",
			"url": "<%= WEBSITE_URL %>",
			"searchKeywords": [<%= __('searchKeywords') %>],
			"image": "<%= WEBSITE_URL %>/images/dev.png",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "<%= WEBSITE_URL %>/search?q={searchTerms}"
			}
		}
	</script>

	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.5/dist/full.min.css" rel="stylesheet" type="text/css" />
	<style>
		* {
			scroll-behavior: smooth;
		}
	</style>
</head>

<body class="font-sans " style="background-color: #FFF;">


	<header class="border-b-2 py-3">
		<div class="container mx-auto px-8 md:w-3/4 sm:w-full">
			<nav class="flex justify-between items-center">
				<a href="/" class="space-x-6 font-bold text-xl">FastSave</a>
				<div class="language-switcher text-sm">
					<a href="/vi">Tiếng Việt</a> | <a href="/en">English</a>
				</div>

			</nav>
		</div>
	</header>

	<main class="py-8 container mx-auto">
		<div class="container mx-auto px-4">

			<!-- Video download -->
			<section class="bg-white rounded-lg p-0 mb-8 mt-32 md:w-3/4 sm:w-full mx-auto">
				<h1 class="text-4xl text-blue-500 font-bold mb-4 text-center"><%= __('download_video_facebook') %></h1>
				<b class="text-center block"><%= __('video_quality_options') %></b>
				<a href="/facebook-private-video-downloader" class="badge block mx-auto mt-4 text-secondary h-fit p-x-1 text-center " style="background-color: #f4f5fc;">
					<%= __('private_facebook_video_tool') %>
					<svg xmlns="http://www.w3.org/2000/svg" fill="#efcc1f" viewBox="0 0 24 24" stroke-width="1.5" stroke="#efcc1f" class="w-6 h-6 inline">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
					</svg>

				</a>
				<div class="flex justify-center mt-8">
					<div class=" w-full join mx-auto rounded rounded-0 relative">
						<span class="loading loading-ring loading-lg absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2" hidden></span>
						<input id="input-url" type="text" placeholder="<%= __('paste_facebook_video_link_here') %>" class="border border-gray-300 join-item px-4 py-2 w-full focus:outline-none focus:border-blue-500">
						<button class="btn-paste-clipboard btn btn-square btn-outline-none border border-1 border-l-0 border-r-0 bg-base-100 join-item tooltip flex justify-center items-center" data-tip="Paste from clipboard">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
							</svg>
						</button>
						<button type="button" class="btn-get-link-download btn btn-secondary px-6 join-item py-2">Download</button>
					</div>
				</div>
			</section>

			<!-- Display result .... -->
			<section class="md:w-3/4 sm:w-full mx-auto mb-8">
				<!-- alert -->
				<div role="alert" class="alert alert-warning p-2 rounded rounded-0" hidden>
					<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
					</svg>
					<span class="alert-content"></span>
				</div>

				<div class="overflow-x-auto">
					<small class="text-center my-2 block text-secondary"><%= __('high_resolution_video_notice') %></small>
					<table class="table">
						<thead hidden>
							<tr>
								<th>#</th>
								<th>Quality</th>
								<th>Render</th>
								<th>Download</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>


			</section>
			<script>
				const $ = document.querySelector.bind(document);
				const $$ = document.querySelectorAll.bind(document);

				const alertElement = $('div[role="alert"]'),
					alertContent = $('.alert-content'),
					inputUrl = $('#input-url'),
					btnPasteClipboard = $('.btn-paste-clipboard'),
					btnGetLinkDownload = $('.btn-get-link-download'),
					loadingElement = $('.loading'),
					tbody = $('tbody'),
					table = $('table'),
					thead = $('thead')

				btnGetLinkDownload.onclick = async () => {
					tb.hide()
					alert.hide()
					loading.show();

					if (!isValidURL(inputUrl.value.trim())) {
						loading.hide();
						alert.show('please paste valid facebook video url!')
						return;
					}

					let data = await fetch("/get-public-facebook-video", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({
							video_url: inputUrl.value.trim()
						}),
					})

					let responseJson = await data.json();

					if (responseJson.error) {
						alert.show(responseJson.error);
						loading.hide()
						return
					}

					if (responseJson.msg) {
						alert.show(responseJson.msg);
						loading.hide()
						return
					}

					if (responseJson.private) {
						alert.show('Video này ở chế độ riêng tư, vui lòng sử dụng <a class="text-secondary" href="/facebook-private-video-downloader">công cụ tải video facebook riêng tư</a>.')
						loading.hide();
						return
					}

					if (!responseJson || Object.keys(responseJson).length <= 0) {
						alert.show("Error, Failed to get download link!")
						return;
					}

					tbody.innerHTML = Object.keys(responseJson).map((e, i) => {

						if (e == "fullhd" || e == "audio") return ''

						return `
                                <tr>
                                    <th>${i + 1}</th>
                                    <td>${responseJson[e].quality}</td>
                                    <td>${responseJson[e].render}</td>
                                    <td><a class="btn btn-primary py-0 btn-sm rounded rounded-0 text-white" href="${responseJson[e].url}" download="${responseJson[e].url}">Download</a></td>
                                </tr>
                            `;
					}).join('')

					tb.show()
					loading.hide()
					inputUrl.scrollIntoView()
				}

				const tb = {
					show: function() {
						table.hidden = null;
						thead.hidden = null
					},
					hide: function() {
						table.hidden = 'true';
						thead.hidden = "true";
						tbody.innerHTML = null
					}
				}

				// handle paste from clipboard
				btnPasteClipboard.addEventListener('click', (e) => {
					if (navigator.clipboard) {
						const handlePaste = async () => {
							try {
								const permission = await navigator.permissions.query({
									name: 'clipboard-read'
								});

								if (permission.state === 'granted') {
									const clipboardData = await navigator.clipboard.readText();
									inputUrl.value = clipboardData;
								} else {
									alert.show('Permission to access clipboard denied');
								}
							} catch (error) {
								console.error('Error accessing clipboard:', error);
							}
						};
						document.addEventListener('paste', handlePaste);
					} else {
						alert.show('Clipboard API is not supported by this browser');
					}

				})

				// handle alert 
				const alert = {
					show: function(msg = 'unknown error!') {
						alertElement.hidden = null
						alertContent.innerHTML = msg
					},
					hide: function() {
						alertElement.hidden = 'true'
					}
				}

				// validate input url
				const isValidURL = (url) => {
					// Regular expression to validate URL format
					const urlPattern = /^(https?:\/\/)?(www\.)?([\w-]+\.)+[\w]{2,}(\/\S*)?$/;

					// Test if the URL matches the pattern
					if (!urlPattern.test(url)) {
						return false; // URL format is invalid
					}

					// Remove whitespace and trailing slash from the URL
					url = url.trim().replace(/\/+$/, '');

					// List of accepted domains
					const acceptedDomains = ['fb.com', 'facebook.com', 'fb.watch'];

					// Get the hostname from the URL
					const urlHostname = new URL(url).hostname;

					// Check if the URL hostname is one of the accepted domains
					const isValidDomain = acceptedDomains.some(domain => {
						return urlHostname.includes(domain);
					});

					return isValidDomain;
				}

				// display loading effect
				const loading = {
					show: function() {
						btnGetLinkDownload.disabled = 'true';
						btnPasteClipboard.disabled = 'true';
						inputUrl.disabled = 'true';
						loadingElement.hidden = null
					},
					hide: function() {
						btnGetLinkDownload.disabled = null;
						btnPasteClipboard.disabled = null;
						inputUrl.disabled = null;
						loadingElement.hidden = 'true'
					}
				}
			</script>


			<!-- Phần Giới thiệu công cụ -->
			<section class="bg-white rounded-lg p-6  md:w-3/4 sm:w-full mx-auto" style="background-color: #f4f5fc;">
				<h3 class="text-2xl font-bold mt-2 mb-6 text-center"><%= __('about_fastsave') %> <span class="text-blue-500"><%= __('title') %></span></h3>
				<ol class="list-decimal ml-6 mb-4">
					<li>
						<p class="mb-4 px-4"><%= __('fastsave_description') %></p>

					</li>
					<li>
						<p class="mb-4 px-4"><%= __('fastsave_tool_description') %></p>

					</li>
					<li>
						<p class="mb-4 px-4"><%= __('fastsave_tool_benefit') %></p>

					</li>
					<li>
						<p class="mb-4 px-4"><%= __('try_facebook_video_downloader') %></p>

					</li>
				</ol>
			</section>

			<!-- Introduce Tool -->
			<section class="bg-white rounded-lg p-6  md:w-3/4 sm:w-full mx-auto mt-8">
				<h3 class="text-2xl font-bold mt-2 mb-6 text-center"><span class="text-blue-500"><%= __('how_to_use_facebook_video_downloader') %></span></h3>
				<p class="mb-4"><%= __('facebook_video_downloader_instructions') %></p>
				<ol class="steps steps-vertical ml-6 mb-4">
					<li class="step"> <%= __('step_1') %></li>
					<li class="step"> <%= __('step_2') %></li>
					<li class="step"> <%= __('step_3') %></li>
					<li class="step"> <%= __('step_4') %></li>
					<li class="step"> <%= __('step_5') %></li>
				</ol>
				<p class="mb-4"><%= __('note') %></p>
				<p class="mb-4"><%= __('facebook_video_downloader_benefits') %></p>
			</section>

			<!-- FAQs -->
			<section class="bg-white rounded-lg p-6 mb-8 md:w-3/4 sm:w-full mx-auto shadow-lg">
				<h2 class="text-2xl font-bold mt-2 mb-6 text-center "><%= __('faq') %></h2>

				<div itemscope itemtype="https://schema.org/FAQPage">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<div tabindex="0" class="collapse collapse-arrow rounded rounded-0 my-2" style="background-color: #f4f5fc;">
							<div class="collapse-title text-base font-bold font-medium text-blue-500" itemprop="name">
								<%= __('high_quality_video_download') %>
							</div>
							<div class="collapse-content" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
								<small tabindex="0" itemprop="text"><%= __('high_quality_video_download_answer') %></small>
							</div>
						</div>
					</div>

					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<div tabindex="0" class="collapse collapse-arrow rounded rounded-0 my-2" style="background-color: #f4f5fc;">
							<div class="collapse-title text-base font-bold font-medium text-blue-500" itemprop="name">
								<%= __('is_facebook_video_downloader_safe') %>
							</div>
							<div class="collapse-content" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
								<small tabindex="0" itemprop="text"><%= __('is_facebook_video_downloader_safe_answer') %></small>
							</div>
						</div>
					</div>

					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<div tabindex="0" class="collapse collapse-arrow rounded rounded-0 my-2" style="background-color: #f4f5fc;">
							<div class="collapse-title text-base font-bold font-medium text-blue-500" itemprop="name">
								<%= __('device_compatibility') %>
							</div>
							<div class="collapse-content" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
								<small tabindex="0" itemprop="text"><%= __('device_compatibility_answer') %></small>
							</div>
						</div>
					</div>

					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
						<div tabindex="0" class="collapse collapse-arrow rounded rounded-0 my-2" style="background-color: #f4f5fc;">
							<div class="collapse-title text-base font-bold font-medium text-blue-500" itemprop="name">
								<%= __('free_to_use') %>
							</div>
							<div class="collapse-content" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
								<small tabindex="0" itemprop="text"><%= __('free_to_use_answer') %></small>
							</div>
						</div>
					</div>
				</div>

			</section>

			<!-- About more -->
			<section class="bg-white rounded-lg p-6 mb-8 md:w-3/4 sm:w-full mx-auto">

				<h2 class="text-2xl font-bold mt-2 mb-6 text-center "><%= __('additional_information') %></h2>

				<div itemscope itemtype="https://schema.org/ItemList">

					<div itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
						<div class="border border-gray-300 p-4 rounded-lg mb-4">
							<h3 class="text-lg font-semibold mb-2"><%= __('high_quality_video_download_info') %></h3>
							<p itemprop="name"><%= __('high_quality_video_download_description') %></p>
						</div>
					</div>

					<div itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
						<div class="border border-gray-300 p-4 rounded-lg mb-4">
							<h3 class="text-lg font-semibold mb-2"><%= __('quick_and_easy_video_download') %></h3>
							<p itemprop="name"><%= __('quick_and_easy_video_download_description') %></p>
						</div>
					</div>

					<div itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
						<div class="border border-gray-300 p-4 rounded-lg mb-4">
							<h3 class="text-lg font-semibold mb-2"><%= __('multiple_formats_and_quality_support') %></h3>
							<p itemprop="name"><%= __('multiple_formats_and_quality_support_description') %></p>
						</div>
					</div>

					<div itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
						<div class="border border-gray-300 p-4 rounded-lg">
							<h3 class="text-lg font-semibold mb-2"><%= __('safety_and_security') %></h3>
							<p itemprop="name"><%= __('safety_and_security_description') %></p>
						</div>
					</div>

				</div>

			</section>

		</div>
	</main>

	<!-- Phần Footer -->
	<footer class="bg-base-content py-4">
		<div class="container mx-auto px-4 text-white">
			<p class="text-white text-center">© 2024 <b><a href="https://github.com/mwarevn" target="_blank">mwarevn</a></b> - All rights reserved.</p>
		</div>
	</footer>
</body>

</html>