<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>

	<!-- SEO -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, shrink-to-fit=no">
	<title>Tải Video Facebook Riêng Tư Miễn Phí - FastSave.live</title>

	<!-- Primary Meta Tags -->
	<meta name="title" content="Tải Video Facebook Riêng Tư Miễn Phí - FastSave.live">
	<meta name="description" content="FastSave.live là trình tải video Facebook và video Facebook riêng tư miễn phí cho máy tính, điện thoại di động. Tải video miễn phí, chất lượng và nhanh chóng.">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://fastsave.live/">
	<meta property="og:title" content="Tải Video Facebook Riêng Tư Miễn Phí - FastSave.live">
	<meta property="og:description" content="FastSave.live là trình tải video Facebook và video Facebook riêng tư miễn phí cho máy tính, điện thoại di động. Tải video miễn phí, chất lượng và nhanh chóng.">
	<meta property="og:image" content="/images/banner.png">

	<meta name="keywords" content="facebook, video, downloader, tải video, tải video facebook riêng tư, facebook video downloader">
	<meta name="author" content="Tên của bạn hoặc tên của công ty">
	<meta name="robots" content="index, follow">
	<meta http-equiv="content-language" content="vi">
	<meta name="geo.region" content="VN">
	<meta name="geo.placename" content="Việt Nam">
	<meta property="og:locale" content="vi_VN">
	<meta property="og:site_name" content="Facebook Private Video Downloader">
	<link rel="manifest" href="/manifest.json?v=3">
	<meta name="revisit-after" content="1 days">
	<meta name="theme-color" content="#337efe">
	<meta itemprop="name" content="Pinterest Video Downloader - Download Pinterest Video to Mp4">
	<meta itemprop="image" content="/images/dev.png">
	<link rel="apple-touch-icon" sizes="192x192" href="/images/dev.png">
	<link rel="shortcut icon" href="/images/dev.png">
	<meta name="google" content="notranslate">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://fastsave.live/">
	<meta property="twitter:title" content="Tải Video Facebook Riêng Tư Miễn Phí - FastSave.live">
	<meta property="twitter:description" content="FastSave.live là trình tải video Facebook và video Facebook riêng tư miễn phí cho máy tính, điện thoại di động. Tải video miễn phí, chất lượng và nhanh chóng.">
	<meta property="twitter:image" content="/images/banner.png">

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="/images/dev.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/dev.png">
	<link rel="manifest" href="/manifest.json?v=3">

	<!-- Canonical URL -->
	<link rel="canonical" href="https://fastsave.live/">

	<!-- Hreflang Tags -->
	<link rel="alternate" hreflang="x-default" href="https://fastsave.live/">
	<link rel="alternate" hreflang="vi" href="https://fastsave.live/vi">
	<!-- Add more hreflang tags for other languages if needed -->

	<!-- Tailwindcss and daisyUI -->
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>

	<!-- Custom Style -->
	<link rel="stylesheet" href="stylesheets/style.css" />
	<!-- END -->

	<script type="text/javascript">
		var STORAGE_KEY = 'SNAPTIK';
	</script>

	<link rel="alternate" hreflang="x-default" href="<%= WEBSITE_URL %>">
	<link rel="alternate" hreflang="af" href="<%= WEBSITE_URL %>af">
	<link rel="alternate" hreflang="sq" href="<%= WEBSITE_URL %>sq">
	<link rel="alternate" hreflang="am" href="<%= WEBSITE_URL %>am">
	<link rel="alternate" hreflang="ar" href="<%= WEBSITE_URL %>ar">
	<link rel="alternate" hreflang="hy" href="<%= WEBSITE_URL %>hy">
	<link rel="alternate" hreflang="az" href="<%= WEBSITE_URL %>az">
	<link rel="alternate" hreflang="eu" href="<%= WEBSITE_URL %>eu">
	<link rel="alternate" hreflang="be" href="<%= WEBSITE_URL %>be">
	<link rel="alternate" hreflang="bn" href="<%= WEBSITE_URL %>bn">
	<link rel="alternate" hreflang="bs" href="<%= WEBSITE_URL %>bs">
	<link rel="alternate" hreflang="bg" href="<%= WEBSITE_URL %>bg">
	<link rel="alternate" hreflang="ca" href="<%= WEBSITE_URL %>ca">
	<link rel="alternate" hreflang="ceb" href="<%= WEBSITE_URL %>ceb">
	<link rel="alternate" hreflang="zh-CN" href="<%= WEBSITE_URL %>zh-CN">
	<link rel="alternate" hreflang="zh-TW" href="<%= WEBSITE_URL %>zh-TW">
	<link rel="alternate" hreflang="co" href="<%= WEBSITE_URL %>co">
	<link rel="alternate" hreflang="hr" href="<%= WEBSITE_URL %>hr">
	<link rel="alternate" hreflang="cs" href="<%= WEBSITE_URL %>cs">
	<link rel="alternate" hreflang="da" href="<%= WEBSITE_URL %>da">
	<link rel="alternate" hreflang="nl" href="<%= WEBSITE_URL %>nl">
	<link rel="alternate" hreflang="en" href="<%= WEBSITE_URL %>en">
	<link rel="alternate" hreflang="eo" href="<%= WEBSITE_URL %>eo">
	<link rel="alternate" hreflang="et" href="<%= WEBSITE_URL %>et">
	<link rel="alternate" hreflang="fi" href="<%= WEBSITE_URL %>fi">
	<link rel="alternate" hreflang="fr" href="<%= WEBSITE_URL %>fr">
	<link rel="alternate" hreflang="fy" href="<%= WEBSITE_URL %>fy">
	<link rel="alternate" hreflang="gl" href="<%= WEBSITE_URL %>gl">
	<link rel="alternate" hreflang="ka" href="<%= WEBSITE_URL %>ka">
	<link rel="alternate" hreflang="de" href="<%= WEBSITE_URL %>de">
	<link rel="alternate" hreflang="el" href="<%= WEBSITE_URL %>el">
	<link rel="alternate" hreflang="gu" href="<%= WEBSITE_URL %>gu">
	<link rel="alternate" hreflang="ht" href="<%= WEBSITE_URL %>ht">
	<link rel="alternate" hreflang="ha" href="<%= WEBSITE_URL %>ha">
	<link rel="alternate" hreflang="haw" href="<%= WEBSITE_URL %>haw">
	<link rel="alternate" hreflang="iw" href="<%= WEBSITE_URL %>iw">
	<link rel="alternate" hreflang="hi" href="<%= WEBSITE_URL %>hi">
	<link rel="alternate" hreflang="hmn" href="<%= WEBSITE_URL %>hmn">
	<link rel="alternate" hreflang="hu" href="<%= WEBSITE_URL %>hu">
	<link rel="alternate" hreflang="is" href="<%= WEBSITE_URL %>is">
	<link rel="alternate" hreflang="ig" href="<%= WEBSITE_URL %>ig">
	<link rel="alternate" hreflang="id" href="<%= WEBSITE_URL %>id">
	<link rel="alternate" hreflang="ga" href="<%= WEBSITE_URL %>ga">
	<link rel="alternate" hreflang="it" href="<%= WEBSITE_URL %>it">
	<link rel="alternate" hreflang="ja" href="<%= WEBSITE_URL %>ja">
	<link rel="alternate" hreflang="jw" href="<%= WEBSITE_URL %>jw">
	<link rel="alternate" hreflang="kn" href="<%= WEBSITE_URL %>kn">
	<link rel="alternate" hreflang="kk" href="<%= WEBSITE_URL %>kk">
	<link rel="alternate" hreflang="km" href="<%= WEBSITE_URL %>km">
	<link rel="alternate" hreflang="ko" href="<%= WEBSITE_URL %>ko">
	<link rel="alternate" hreflang="ku" href="<%= WEBSITE_URL %>ku">
	<link rel="alternate" hreflang="ky" href="<%= WEBSITE_URL %>ky">
	<link rel="alternate" hreflang="lo" href="<%= WEBSITE_URL %>lo">
	<link rel="alternate" hreflang="la" href="<%= WEBSITE_URL %>la">
	<link rel="alternate" hreflang="lv" href="<%= WEBSITE_URL %>lv">
	<link rel="alternate" hreflang="lt" href="<%= WEBSITE_URL %>lt">
	<link rel="alternate" hreflang="lb" href="<%= WEBSITE_URL %>lb">
	<link rel="alternate" hreflang="mk" href="<%= WEBSITE_URL %>mk">
	<link rel="alternate" hreflang="mg" href="<%= WEBSITE_URL %>mg">
	<link rel="alternate" hreflang="ms" href="<%= WEBSITE_URL %>ms">
	<link rel="alternate" hreflang="ml" href="<%= WEBSITE_URL %>ml">
	<link rel="alternate" hreflang="mt" href="<%= WEBSITE_URL %>mt">
	<link rel="alternate" hreflang="mi" href="<%= WEBSITE_URL %>mi">
	<link rel="alternate" hreflang="mr" href="<%= WEBSITE_URL %>mr">
	<link rel="alternate" hreflang="mn" href="<%= WEBSITE_URL %>mn">
	<link rel="alternate" hreflang="my" href="<%= WEBSITE_URL %>my">
	<link rel="alternate" hreflang="ne" href="<%= WEBSITE_URL %>ne">
	<link rel="alternate" hreflang="no" href="<%= WEBSITE_URL %>no">
	<link rel="alternate" hreflang="ny" href="<%= WEBSITE_URL %>ny">
	<link rel="alternate" hreflang="ps" href="<%= WEBSITE_URL %>ps">
	<link rel="alternate" hreflang="fa" href="<%= WEBSITE_URL %>fa">
	<link rel="alternate" hreflang="pl" href="<%= WEBSITE_URL %>pl">
	<link rel="alternate" hreflang="pt" href="<%= WEBSITE_URL %>pt">
	<link rel="alternate" hreflang="pa" href="<%= WEBSITE_URL %>pa">
	<link rel="alternate" hreflang="ro" href="<%= WEBSITE_URL %>ro">
	<link rel="alternate" hreflang="ru" href="<%= WEBSITE_URL %>ru">
	<link rel="alternate" hreflang="sm" href="<%= WEBSITE_URL %>sm">
	<link rel="alternate" hreflang="gd" href="<%= WEBSITE_URL %>gd">
	<link rel="alternate" hreflang="sr" href="<%= WEBSITE_URL %>sr">
	<link rel="alternate" hreflang="st" href="<%= WEBSITE_URL %>st">
	<link rel="alternate" hreflang="sn" href="<%= WEBSITE_URL %>sn">
	<link rel="alternate" hreflang="sd" href="<%= WEBSITE_URL %>sd">
	<link rel="alternate" hreflang="si" href="<%= WEBSITE_URL %>si">
	<link rel="alternate" hreflang="sk" href="<%= WEBSITE_URL %>sk">
	<link rel="alternate" hreflang="sl" href="<%= WEBSITE_URL %>sl">
	<link rel="alternate" hreflang="so" href="<%= WEBSITE_URL %>so">
	<link rel="alternate" hreflang="es" href="<%= WEBSITE_URL %>es">
	<link rel="alternate" hreflang="su" href="<%= WEBSITE_URL %>su">
	<link rel="alternate" hreflang="sw" href="<%= WEBSITE_URL %>sw">
	<link rel="alternate" hreflang="sv" href="<%= WEBSITE_URL %>sv">
	<link rel="alternate" hreflang="tl" href="<%= WEBSITE_URL %>tl">
	<link rel="alternate" hreflang="tg" href="<%= WEBSITE_URL %>tg">
	<link rel="alternate" hreflang="ta" href="<%= WEBSITE_URL %>ta">
	<link rel="alternate" hreflang="te" href="<%= WEBSITE_URL %>te">
	<link rel="alternate" hreflang="th" href="<%= WEBSITE_URL %>th">
	<link rel="alternate" hreflang="tr" href="<%= WEBSITE_URL %>tr">
	<link rel="alternate" hreflang="uk" href="<%= WEBSITE_URL %>uk">
	<link rel="alternate" hreflang="ur" href="<%= WEBSITE_URL %>ur">
	<link rel="alternate" hreflang="uz" href="<%= WEBSITE_URL %>uz">
	<link rel="alternate" hreflang="vi" href="<%= WEBSITE_URL %>vi">
	<link rel="alternate" hreflang="cy" href="<%= WEBSITE_URL %>cy">
	<link rel="alternate" hreflang="xh" href="<%= WEBSITE_URL %>xh">
	<link rel="alternate" hreflang="yi" href="<%= WEBSITE_URL %>yi">
	<link rel="alternate" hreflang="yo" href="<%= WEBSITE_URL %>yo">
	<link rel="alternate" hreflang="zu" href="<%= WEBSITE_URL %>zu">

	<!-- END SEO -->

	<%- include('../partials/head_assets.ejs') -%>

</head>

<body>
	<%- include('../partials/header.ejs') -%>

	<div class="main-content " style="min-height: calc(100vh - 528px);">

		<section style="background-color: #4f37ac;">
			<h1 class="font-bold text-5xl text-center text-white">Tải Video Facebook <small class="text-warning">riêng tư</small></h1>
			<span class="block text-center mt-1 text-lg text-white">Tải video <small class="text-warning">riêng tư</small> từ Facebook 1080 - 2K - 4K. Miễn Phí</span>
			<svg id="wave" viewBox="0 0 100 15">
				<path fill="#fff" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z"></path>
				<path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"></path>
			</svg>
		</section>




		<section class=" mt-8 mx-4 ">

			<div class="mx-auto xl:w-4/6 lg:w-2/3 md:w-2/3 sm:w-96">
				<div>
					<div class="label">
						<span class="label-text pb-0">Bước 1: Dán URL video facebook.</span>
					</div>
					<input id="input-video-url" onchange="convert_url_to_view_source()" class="input input-bordered rounded rounded-0 w-full" placeholder="Dán URL video Facebook..." />
				</div>
			</div>

			<div class="mx-auto mt-2 xl:w-4/6 lg:w-2/3 md:w-2/3 sm:w-96">
				<div>
					<div class="label">
						<span class="label-text pb-0">Bước 2: Đi tới url này và copy toàn bộ nội dung bên trong trang.</span>
					</div>
					<div class="join  w-full">
						<a class="btn join-item go-view-source" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
							</svg>
						</a>
						<input disabled id="input-url-page-source" class="input input-bordered join-item rounded rounded-0 w-full" placeholder="Đi tới url này và copy toàn bộ nội dung bên trong trang." />
					</div>
				</div>
			</div>

			<div class="mx-auto mt-2 xl:w-4/6 lg:w-2/3 md:w-2/3 sm:w-96">
				<div>
					<div class="label">
						<span class="label-text pb-0">Bước 3: Dán toàn bộ nội dung vừa copy được vào bên dưới rồi bấm download để tải.</span>
					</div>
					<textarea id="input-page-source" class="textarea textarea-bordered rounded rounded-0 h-48 w-full" placeholder="Dán toàn bộ nội dung vào đây...."></textarea>
				</div>
			</div>


			<div class="indicator tooltip mx-auto mt-4 block" data-tip="Click to get link download">
				<button class="btn btn-primary join-item" id="btn-download">Download</button>
			</div>
		</section>

		<section class="display-result mt-8  flex justify-center mx-4" id="pattern-result">
			<div role="alert" class="alert alert-warning mx-auto p-3 py-2 rounded rounded-2 xl:w-1/2 lg:w-2/3 md:w-2/3 sm:w-96" style="display: none;">
				<svg xmlns="http://www.w3.org/2000/svg" fill="#FFF" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z" />
				</svg>
				<span class="alert-msg text-dark"></span>
			</div>


			<span class="loading loading-ring loading-lg block mx-auto" style="display: none;"></span>

			<div class="overflow-x-auto mx-auto xl:w-1/2 lg:w-2/3 md:w-2/3 sm:w-96" id="table" style="display: none;">
				<table class="table">
					<!-- head -->
					<thead>
						<tr>
							<th>Chất lượng</th>
							<th>Render[*]</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</section>
	</div>

	<%- include('../partials/introduce/facebook_video_downloader.ejs') -%>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const btnDownload = document.getElementById("btn-download");
			const inputVideoUrl = document.getElementById("input-video-url");
			const loading = document.querySelector(".loading");
			const table = document.getElementById("table");
			const tbody = document.querySelector("tbody");
			const alert = document.querySelector(".alert");
			const alertMsg = document.querySelector(".alert-msg");
			const inputPageSource = document.getElementById("input-page-source");
			const inputUrlPageSource = document.getElementById("input-url-page-source");
			const goViewSource = document.querySelector(".go-view-source");

			const showAlert = (msg = "") => {
				alertMsg.innerHTML = msg;
				alert.style.display = "flex";
			};

			const hideAlert = () => {
				alert.style.display = "none";
				alertMsg.innerText = "";
			};

			const convertUrlToViewSource = () => {
				inputUrlPageSource.value = "view-source:" + inputVideoUrl.value;
			};

			const downloadVideo = () => {
				hideAlert();

				var pageSource = inputPageSource.value;

				if (!pageSource) {
					showAlert("Vui lòng dán nội dung copy.");
					return;
				}
				try {
					pageSource = pageSource.split('is_rss_podcast_video')[1].split('sequence_number')[0];


				} catch (error) {
					showAlert("Nội dung không đúng định dạng!.");
					return;
				}

				if (!pageSource) {
					showAlert("Lỗi lấy video source!.");
					return;
				}


				loading.style.display = "block";
				tbody.innerHTML = "";
				table.style.display = "none";

				fetch("/get-private-facebook-video", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({
							page_source: pageSource
						}),
					})
					.then((res) => res.json())
					.then((res) => {
						console.log(res);
						let hasQuality = false;

						for (let key in res) {
							if (res.hasOwnProperty(key)) {
								let typeQuality = null;
								switch (key) {
									case "sd_url":
										typeQuality = "360 (SD)";
										break;
									case "hd_url":
										typeQuality = "720 (HD)";
										break;
									case "full_hd_url":
										typeQuality = "1080 (FULL HD)"
										break
								}
								if (res[key] && key != "audio_url") {
									hasQuality = true;
									const html = `
										<th>${typeQuality}</th>
										<td>${key == 'full_hd_url' ? "yes" : ""}</td>
										<td><a rel="nofollow" href="${res[key]}" class="link link-success link-hover" download>Tải xuống</a></td>
									`;
									const tr = document.createElement("tr");
									tr.innerHTML = html;
									tbody.appendChild(tr);
								}
							}
						}
						if (hasQuality) {
							table.style.display = "block";
						} else {
							showAlert("Lỗi không thể lấy video.");
						}
						inputPageSource.scrollIntoView();
					})
					.finally(() => {
						loading.style.display = "none";
					});
			};

			btnDownload.addEventListener("click", downloadVideo);
			goViewSource.addEventListener("click", convertUrlToViewSource);
		});
	</script>
	<%- include('../partials/footer.ejs') -%>

</body>

</html>