<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=UTF-8>
    <link href="<%= WEBSITE_URL %>/images/dev.png" rel=icon>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <title><%=__('WebsiteTitle') %></title>
    <meta name="google-adsense-account" content="ca-pub-5383842302083788">
    <script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5383842302083788" crossorigin="anonymous"></script>

    <meta content=notranslate name=google>
    <link href="<%= WEBSITE_URL %>/images/dev.png" rel="shorcut icon">
    <link href="<%= WEBSITE_URL %>" rel=alternate hreflang=x-default>
    <link href="<%= WEBSITE_URL %>/vi" rel=alternate hreflang=vi>
    <link href="<%= WEBSITE_URL %>/en" rel=alternate hreflang=en>

    <meta content="<%=__('WebsiteDesc') %>" name=description>

    <meta name="keywords" content="<%=__('PrimaryKeyWords') %>">
    <meta name="keywords" content="<%=__('SubKeyWords') %>">
    <meta name="keywords" content="<%=__('LongTailsKeyWords') %>">

    <meta content="index, follow" name=robots>
    <meta content="<%=__('WebsiteTitle') %>" property=og:title>
    <meta content="<%=__('WebsiteDesc') %>" property=og:description>
    <meta content="<%= WEBSITE_URL %>/images/banner.png" property=og:image>
    <meta content="<%= WEBSITE_URL %>" property=og:url>
    <meta content=website property=og:type>
    <meta content="<%=__('WebsiteTitle') %>" name=twitter:title>
    <meta content="<%=__('WebsiteDesc') %>" name=twitter:description>
    <meta content="<%= WEBSITE_URL %>/images/banner.png" name=twitter:image>
    <meta content="<%= WEBSITE_URL %>/images/banner.png" name=twitter:card>
    <link href="<%= canonical%>" rel=canonical>
    <link href="<%= WEBSITE_URL %>/images/dev.png" rel=apple-touch-icon>


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "searchKeywords": ["facebook video downloader", "free facebook video downloader", "hd facebook video downloader", "private facebook video downloader", "fast facebook video downloader", "mwarevn"],
            "@type": "SoftwareApplication",
            "name": "Facebook Video Downloader",
            "operatingSystem": ["Android", "ios", "MacOS", "Windows", "Linux"],
            "applicationCategory": ["UtilitiesApplication", "BrowserApplication"],
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4.6",
                "ratingCount": "28864"
            },
            "offers": {
                "@type": "Offer",
                "price": "0.00",
                "priceCurrency": "USD"
            }
        }
    </script>

    <link rel="stylesheet" href="/stylesheets/dark.css" />
    <style>
        ::-webkit-scrollbar,
        ::-webkit-scrollbar-button,
        ::-webkit-scrollbar-corner,
        ::-webkit-scrollbar-track {
            width: 0
        }
    </style>
</head>

<body>

    <header style="padding: 14px">
        <a href="/" class="text-primary" style="text-decoration: none; font-weight: bold; font-size: 20px">FastSave</a>
        <div>
            <a href="https://t.me/mwarevn_assistant_bot" style="color: white;text-decoration: none;margin-right: 10px;">Telegram bot</a>|
            <nav style="display: inline-block;">
                <span><%=__('Lang') %></span>
                <ul style="height: 340px;max-height: 500px; z-index: 10; overflow-y: scroll;">
                    <li><a href="/af"> <%=__('Af') %> </a></li>
                    <li><a href="/ga"> <%=__('Ga') %> </a></li>
                    <li><a href="/sq"> <%=__('Sq') %> </a></li>
                    <li><a href="/it"> <%=__('It') %> </a></li>
                    <li><a href="/ar"> <%=__('Ar') %> </a></li>
                    <li><a href="/ja"> <%=__('Ja') %> </a></li>
                    <li><a href="/az"> <%=__('Az') %> </a></li>
                    <li><a href="/kn"> <%=__('Kn') %> </a></li>
                    <li><a href="/eu"> <%=__('Eu') %> </a></li>
                    <li><a href="/ko"> <%=__('Ko') %> </a></li>
                    <li><a href="/bn"> <%=__('Bn') %> </a></li>
                    <li><a href="/la"> <%=__('La') %> </a></li>
                    <li><a href="/be"> <%=__('Be') %> </a></li>
                    <li><a href="/lv"> <%=__('Lv') %> </a></li>
                    <li><a href="/bg"> <%=__('Bg') %> </a></li>
                    <li><a href="/lt"> <%=__('Lt') %> </a></li>
                    <li><a href="/ca"> <%=__('Ca') %> </a></li>
                    <li><a href="/mk"> <%=__('Mk') %> </a></li>
                    <li><a href="/zh-CN"> <%=__('ZhCn') %></a></li>
                    <li><a href="/ms"> <%=__('Malay') %> </a></li>
                    <li><a href="/zh-TW"> <%=__('ZhTw') %></a></li> -
                    <li><a href="/mt"> <%=__('Mt') %> </a></li>
                    <li><a href="/hr"> <%=__('Hr') %> </a></li>
                    <li><a href="/no"> <%=__('No') %> </a></li>
                    <li><a href="/cs"> <%=__('Cs') %> </a></li>
                    <li><a href="/da"> <%=__('Da') %> </a></li>
                    <li><a href="/pl"> <%=__('Pl') %> </a></li>
                    <li><a href="/nl"> <%=__('Nl') %> </a></li>
                    <li><a href="/pt"> <%=__('Pt') %> </a></li>
                    <li><a href="/en"> <%=__('En') %> </a></li>
                    <li><a href="/ro"> <%=__('Ro') %> </a></li>
                    <li><a href="/eo"> <%=__('Eo') %> </a></li>
                    <li><a href="/ru"> <%=__('Ru') %> </a></li>
                    <li><a href="/sr"> <%=__('Sr') %> </a></li>
                    <li><a href="/sk"> <%=__('Sk') %> </a></li>
                    <li><a href="/fi"> <%=__('Fi') %> </a></li>
                    <li><a href="/sl"> <%=__('Sl') %> </a></li>
                    <li><a href="/fr"> <%=__('Fr') %> </a></li>
                    <li><a href="/es"> <%=__('Es') %> </a></li>
                    <li><a href="/gl"> <%=__('Gl') %> </a></li>
                    <li><a href="/sw"> <%=__('Sw') %> </a></li>
                    <li><a href="/ka"> <%=__('Ka') %> </a></li>
                    <li><a href="/sv"> <%=__('Sv') %> </a></li>
                    <li><a href="/de"> <%=__('De') %> </a></li>
                    <li><a href="/el"> <%=__('El') %> </a></li>
                    <li><a href="/ht"> <%=__('Ht') %> </a></li>
                    <li><a href="/He"> <%=__('He') %> </a></li>
                    <li><a href="/hi"> <%=__('Hi') %> </a></li>
                    <li><a href="/hu"> <%=__('Hu') %> </a></li>
                    <li><a href="/vi"> <%=__('Vi') %> </a></li>
                    <li><a href="/is"> <%=__('Is') %> </a></li>
                    <li><a href="/cy"> <%=__('Cy') %> </a></li>
                    <li><a href="/id"> <%=__('Id') %> </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

        <article style="display: block;width: 320px;height: 50px;margin: 48px auto;" class="ads-banner-h50">
            <script defer>
                atOptions = {
                    key: "40ac03b1222cb2918279fa3135904cc1",
                    format: "iframe",
                    height: 50,
                    width: 320,
                    params: {}
                };
                document.addEventListener("DOMContentLoaded", () => {
                    var adsScript = document.createElement("script");
                    adsScript.src = "//www.topcreativeformat.com/40ac03b1222cb2918279fa3135904cc1/invoke.js";
                    adsScript.async = true;
                    document.querySelector('.ads-banner-h50').appendChild(adsScript);
                })
            </script>
        </article>
        <!-- form -->
        <section class="rich-result form-container">
            <h1><%=__('DownloadFBVideos') %></h1>
            <p class="tool-description"><%=__('DownloadDesc') %></p>

            <a class="private-tool" href="/facebook-private-video-downloader">

                <small><%=__('PrivateTool') %> </small>
                <svg style="margin-left: 4px;" xmlns="http://www.w3.org/2000/svg" fill="#e2c541" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e2c541" width="24" height="24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                </svg>
            </a>

            <form method="POST" class="url-form">
                <div class="input-container">
                    <svg class="icon-md-heavy btn-paste" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path fill="#FFF" fill-rule="evenodd" d="M9 7a5 5 0 0 1 10 0v8a7 7 0 1 1-14 0V9a1 1 0 0 1 2 0v6a5 5 0 0 0 10 0V7a3 3 0 1 0-6 0v8a1 1 0 1 0 2 0V9a1 1 0 1 1 2 0v6a3 3 0 1 1-6 0z" clip-rule="evenodd"></path>
                    </svg>
                    <input placeholder="<%=__('PasteUrl') %>" name="video_url" type="url" required autocomplete="off" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32" class="icon-2xl icon-arrow-up">
                        <path fill="#2f2f2f" fill-rule="evenodd" d="M15.192 8.906a1.143 1.143 0 0 1 1.616 0l5.143 5.143a1.143 1.143 0 0 1-1.616 1.616l-3.192-3.192v9.813a1.143 1.143 0 0 1-2.286 0v-9.813l-3.192 3.192a1.143 1.143 0 1 1-1.616-1.616z" clip-rule="evenodd"></path>
                    </svg>
                </div>
            </form>
        </section>

        <!-- loading animation -->
        <div class="loader" hidden>
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>

        <!-- display result -->
        <div style="padding: 0px 10px;margin-top: 68px;">
            <section class="display-result" hidden></section>
        </div>

        <!-- display alert -->
        <div id="custom-alert" class="alert">
            <span class="closebtn" onclick="closeAlert()">&times;</span>
            <div class="alert-msg"></div>
        </div>

        <!-- script -->
        <script defer>
            const elements = {
                iconArrowUp: document.querySelector(".icon-arrow-up"),
                inputUrl: document.querySelector("input"),
                urlForm: document.querySelector(".url-form"),
                displayResult: document.querySelector(".display-result"),
                btnPaste: document.querySelector(".btn-paste"),
                customAlert: document.getElementById("custom-alert"),
                alertMsg: document.querySelector(".alert-msg"),
                loader: document.querySelector(".loader"),
            };

            // Event delegation for inputUrl and iconArrowUp
            document.addEventListener("input", function(event) {
                if (event.target === elements.inputUrl) {
                    handleInputUrl();
                }
            });

            // Event delegation for inputUrl and iconArrowUp
            document.addEventListener("paste", function(event) {
                if (event.target === elements.inputUrl) {
                    handleInputUrl();
                }
            });

            elements.iconArrowUp.addEventListener("click", function() {
                validateValueBeforeSubmit();
            });

            elements.btnPaste.addEventListener("click", function() {
                handlePaste();
            });

            elements.urlForm.addEventListener("submit", function(e) {
                e.preventDefault();
                validateValueBeforeSubmit();
            });

            function handleInputUrl() {
                elements.iconArrowUp.style.background =
                    elements.inputUrl.value !== "" ? "#FFF" : "#676767";
                elements.iconArrowUp.style.cursor =
                    elements.inputUrl.value !== "" ? "pointer" : "default";
            }

            function handlePaste() {
                navigator.clipboard ?
                    navigator.clipboard
                    .readText()
                    .then((text) => {
                        elements.inputUrl.value = text;
                        closeAlert();
                    })
                    .catch(() => {
                        showAlert("Vui cấp quyền truy cập clipboard cho trang web!");
                    }) :
                    showAlert("Trình duyệt không được hỗ trợ!");
            }

            function showAlert(msg) {
                elements.customAlert.style.display = "block";
                elements.alertMsg.innerHTML = msg;
                setTimeout(() => {
                    elements.customAlert.style.display = "none";
                }, 2500);
            }

            function closeAlert() {
                elements.customAlert.style.display = "none";
            }

            function showLoader() {
                elements.loader.removeAttribute("hidden");
            }

            function hideLoader() {
                elements.loader.setAttribute("hidden", "hidden");
            }

            function validateValueBeforeSubmit() {
                elements.displayResult.innerHTML = "";
                elements.displayResult.setAttribute("hidden", "");

                showLoader();
                const regex =
                    /^(?:https?:\/\/)?(?:www\.)?(?:facebook\.com|fb\.com|fb\.watch).*$/;

                if (regex.test(elements.inputUrl.value)) {
                    fetch("/get-public-facebook-video", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                video_url: elements.inputUrl.value,
                            }),
                        })
                        .then((res) => res.json())
                        .then((res) => {
                            if (res.error || res.private || res.msg) {
                                showAlert(
                                    res.error || res.private || res.msg
                                );
                                hideLoader();
                                return;
                            } else {
                                let htmls = "";
                                if (Object.keys(res).length > 0) {
                                    Object.keys(res).forEach((item) => {
                                        htmls += `
                                <figure style="padding: 12px; margin: 0 8px; border-radius: 0.375rem">
                                    <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" width="32" height="32">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z"/>
                                    </svg>
                                    <div style="width: 100%; margin: 0px 15px; color: white">
                                        <span>${res[item].quality}</span>
                                        <div><small>render: ${res[item].render}</small></div>
                                    </div>
                                    <a href="${res[item].url}" class="btn-download">Download</a>
                                    </div>
                                </figure>
                                `;
                                    });

                                    elements.displayResult.innerHTML = htmls;
                                    elements.displayResult.removeAttribute("hidden");
                                }
                            }
                        })
                        .catch(() => {
                            showAlert("Có lỗi xảy ra, vui lòng thử lại sau!");
                        })
                        .finally(() => {
                            hideLoader();
                        });
                } else {
                    showAlert("Invalid, please paste facebook video url!");
                    hideLoader();
                }
            }
        </script>

        <!-- link to rich result -->
        <section class="card-container-tip">
            <a href="#facebook-downloader" style="text-decoration: none;" class="card-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="icon-md" style="color: rgb(118, 208, 235)">
                    <path fill="currentColor" fill-rule="evenodd" d="M13.997 3.39A2.5 2.5 0 0 1 17.2 2.103l2.203.882a2.5 2.5 0 0 1 1.342 3.369L19.063 10H20a1 1 0 0 1 1 1v8a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3v-8a1 1 0 0 1 .992-1l-.149-.101-.03-.022c-1.254-.924-1.016-2.864.425-3.458l2.12-.874.724-2.176c.492-1.479 2.41-1.851 3.42-.665L11.99 4.45l1.521.01zm1.513 1.506a2 2 0 0 1 .461 2.618l-1.144 1.861v.045a1.3 1.3 0 0 0 .044.278 1 1 0 0 1 .047.302h1.942l2.07-4.485a.5.5 0 0 0-.268-.673l-2.203-.882a.5.5 0 0 0-.641.258zM12.889 10a3.3 3.3 0 0 1-.06-.499c-.01-.236-.004-.69.237-1.081l1.202-1.954-2.293-.016a2 2 0 0 1-1.51-.704L8.98 4l-.725 2.176A2 2 0 0 1 7.12 7.394L5 8.267l2.063 1.407c.129.087.23.2.303.326zM5 12v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7zm4.5 2.5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1" clip-rule="evenodd"></path>
                </svg>
                <h2><%=__('FbDownloader') %></h2>
            </a>

            <a href="#download-facebook-video-sroty" style="text-decoration: none;" class="card-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="icon-md" style="color: #e2c541">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19a3 3 0 1 1-6 0M15.865 16A7.54 7.54 0 0 0 19.5 9.538C19.5 5.375 16.142 2 12 2S4.5 5.375 4.5 9.538A7.54 7.54 0 0 0 8.135 16m7.73 0h-7.73m7.73 0v3h-7.73v-3"></path>
                </svg>
                <h2><%=__('DownloadFacebookVideoStory') %></h2>
            </a>

            <a href="#download-facebook-private-video" style="text-decoration: none;" class="card-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="icon-md" style="color: rgb(118, 208, 235)">
                    <path fill="currentColor" fill-rule="evenodd" d="M12.455 4.105a1 1 0 0 0-.91 0L1.987 8.982 1.077 7.2l9.56-4.877a3 3 0 0 1 2.726 0l9.56 4.877A1.98 1.98 0 0 1 24 9.22V15a1 1 0 1 1-2 0v-3.784l-2.033.995v4.094a3 3 0 0 1-1.578 2.642l-4.967 2.673a3 3 0 0 1-2.844 0l-4.967-2.673a3 3 0 0 1-1.578-2.642v-4.094l-2.927-1.433C-.374 10.053-.39 7.949 1.077 7.2l.91 1.782 9.573 4.689a1 1 0 0 0 .88 0L22 8.989v-.014zM6.033 13.19v3.114a1 1 0 0 0 .526.88l4.967 2.674a1 1 0 0 0 .948 0l4.967-2.673a1 1 0 0 0 .526-.88V13.19l-4.647 2.276a3 3 0 0 1-2.64 0z" clip-rule="evenodd"></path>
                </svg>
                <h2><%=__('DownloadFacebookPrivateVideo') %></h2>
            </a>

            <a href="#download-facebook-reels" style="text-decoration: none;" class="card-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="icon-md" style="color: rgb(203, 139, 208)">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M3 6h7M3 10h4"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.428 17.572 20.5 10.5a2.828 2.828 0 1 0-4-4l-7.072 7.072a2 2 0 0 0-.547 1.022L8 19l4.406-.881a2 2 0 0 0 1.022-.547"></path>
                </svg>
                <h2><%=__('DownloadFacebookReels') %></h2>
            </a>

        </section>

        <!-- Introduction to FastSave -->

        <div class="divider"></div>
        <section id="introduce-to-fastsave" class="rich-result" style="background: #2f2f2f;
        padding: 28px;
        border-radius: 16px;">
            <h2 class="title"><%=__('Intro') %></h2>
            <div class="content" style="margin-top: 34px;">
                <p style="display: block;font-size: 13px;color: #b9b9b9; text-align: center;margin-bottom: 26px;margin-top: 8px;">
                    <%=__('IntroDesc') %>
                </p>
                <a href="#" style="display: block; text-align: center;width: fit-content;margin: 0 auto;color: white;text-decoration: none;border-radius: 26px;padding: 8px 15px;background: #5d5dff;font-size: 13px;">
                    <%=__('StartDownload') %>
                </a>
            </div>
        </section>

        <!-- How to Use FastSave -->
        <div class="divider"></div>
        <section id="how-to-use-fastsave" class="rich-result">
            <h3 class="title"><%=__('HowToUse') %></h3>
            <div>
                <div class="content" style="margin-top: 34px;">
                    <h4 style="display: block;font-size: 18px;color: #0c6"><small><%=__('Steps') %></small></h4>
                    <ol style="margin-top: 18px;margin-left: 26px;margin-right: 26px;">
                        <li class="text-white" style="margin: 12px 0px;"><%=__('CopyUrl') %></li>
                        <li class="text-white" style="margin: 12px 0px;"><%=__('PasteUrlStep') %></li>
                        <li class="text-white" style="margin: 12px 0px;"><%=__('ClickDownload') %></li>
                        <li class="text-white" style="margin: 12px 0px;"><%=__('ChooseQuality') %></li>
                        <li class="text-white" style="margin: 12px 0px;"><%=__('DownloadComplete') %></li>
                    </ol>
                </div>

                <h4 style="margin-top: 46px;display: block;font-size: 18px;color: #0c6"><small><%=__('InstrVideo') %></small></h4>
                <a style="margin: 18px auto;display: block;" href="https://www.youtube.com/watch?v=EYc_ZTeZd-A" target="_blank">
                    <img style="width: 95%;max-width: 980px;display: block;border-radius: 26px;margin: 0 auto;" src="images/EYc_ZTeZd-A-HD.webp" alt="Video Hướng dẫn tải video facebook" srcset="images/EYc_ZTeZd-A-HD.webp">
                </a>
            </div>

        </section>

        <!-- Why use FastSave -->
        <div class="divider"></div>
        <section id="why-use-fastsave" class="rich-result">
            <h3 class="title"><%=__('WhyUse') %></h3>
            <div class="content">
                <span style="display: block;font-size: 13px;color: #b9b9b9; text-align: center;margin-bottom: 26px;margin-top: 8px;"><%=__('Reasons') %></span>
                <div class="flex-box" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex: 1;">
                    <div class="card-flex-item">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#38a36a" width="58" height="58">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>

                        <h4 class="text-white" style="margin-top: 8px;"><%=__('FreeAndEasy') %></h4>
                        <p style="margin-top: 8px;font-size: 13px;padding: 8px;" class="text-white"><%=__('FreeDesc') %></p>
                    </div>

                    <div class="card-flex-item">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#38a36a" width="58" height="58">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                        </svg>
                        <h4 class="text-white" style="margin-top: 8px;"><%=__('FastAndHD') %></h4>
                        <p style="margin-top: 8px;font-size: 13px;padding: 8px;" class="text-white"><%=__('FastDesc') %></p>
                    </div>

                    <div class="card-flex-item">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#38a36a" width="58" height="58">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                        <h4 class="text-white" style="margin-top: 8px;"><%=__('SupportAll') %></h4>
                        <p style="margin-top: 8px;font-size: 13px;padding: 8px;" class="text-white"><%=__('SupportDesc') %></p>
                    </div>

                    <div class="card-flex-item">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#38a36a" width="58" height="58">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                        </svg>

                        <h4 class="text-white" style="margin-top: 8px;"><%=__('Safe') %></h4>
                        <p style="margin-top: 8px;font-size: 13px;padding: 8px;" class="text-white"><%=__('SafeDesc') %></p>
                    </div>

                </div>
            </div>
        </section>

        <!-- Frequently Asked Questions -->
        <div class="divider"></div>
        <section id="faq" class="rich-result">
            <h3 class="title" style="color: #212121;margin-top: 18px;"><%=__('FAQ') %></h3>
            <div class="content" style="margin-top: 34px;" itemscope itemtype="https://schema.org/FAQPage">

                <details tabindex=0 itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <summary itemprop="name"><%=__('WhatIs') %></summary>
                    <article itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <p itemprop="text"><%=__('WhatIsDesc') %></p>
                    </article>
                </details>

                <details tabindex=0 itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <summary itemprop="name"><%=__('WhyUse') %></summary>
                    <article itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <p itemprop="text">

                            <%=__('WhyUse-Desc') %>

                        <ul style="margin-left: 26px;margin-right: 26px;">

                            <li><%=__('WhyUse-Free') %></li>
                            <li><%=__('WhyUse-EasyToUse') %></li>
                            <li><%=__('WhyUse-Fast') %></li>
                            <li><%=__('WhyUse-HDQuality') %></li>
                            <li><%=__('WhyUse-PrivateSupport') %></li>
                            <li><%=__('WhyUse-Safe') %></li>

                        </ul>
                        </p>
                    </article>
                </details>

                <details tabindex=0 itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <summary itemprop="name">How do I use FastSave?</summary>
                    <article itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <p itemprop="text">
                            <%=__('Steps') %>

                        <ol style="margin-left: 26px;margin-right: 26px;">
                            <li><%=__('CopyUrl') %></li>
                            <li><%=__('PasteUrlStep') %></li>
                            <li><%=__('ClickDownload') %></li>
                            <li><%=__('ChooseQuality') %></li>
                            <li><%=__('DownloadComplete') %></li>
                        </ol>
                        </p>
                    </article>
                </details>

                <details tabindex=0 itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <summary itemprop="name"><%=__('IsSafe') %></summary>
                    <article itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <p itemprop="text"><%=__('IsSafeDesc') %></p>
                    </article>
                </details>

                <details tabindex=0 itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <summary itemprop="name"><%=__('HowMany') %></summary>
                    <article itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <p itemprop="text"><%=__('HowManyDesc') %></p>
                    </article>
                </details>

                <details tabindex=0 itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <summary itemprop="name"><%=__('Trouble') %></summary>
                    <article itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <p itemprop="text"><%=__('TroubleDesc') %></p>
                    </article>
                </details>
                <details tabindex=0 itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <summary itemprop="name"><%=__('Suggest') %></summary>
                    <article itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <p itemprop="text"><%=__('SuggestDesc') %></p>
                    </article>
                </details>

            </div>


        </section>


    </main>
    <footer>
        <p style="text-align: center;color: white;padding: 18px 0;font-size: 13px;color: #b9b9b9;">
            © 2024
            <a style="color: #b9b9b9;text-decoration: none;" href="https://mwarevn.github.io" target="_blank">mwarevn</a>
            - All rights reserved. -
            <a style="color: #b9b9b9;text-decoration: none;" href="/older-version">older version.</a>
        </p>
    </footer>
</body>

</html>